@using Nop.Core.Domain.Customers
@inject Nop.Core.IWebHelper webHelper
@{
    Html.AddCssFileParts("~/css/bootstrap-grid.css");
}
<style>
    .search-box input.search-box-text,
    .search-box .search-box-button {
        height: 40px;
    }
</style>
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
<div class="row topbarnew" style=" margin: 20px 50px;">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
    <div class="col-12 col-md-2">
        <div class="header-logo">
            @await Component.InvokeAsync("Logo")
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="search-box store-search-box">
            @await Component.InvokeAsync("SearchBox")
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })
<div class="col-12 col-md-6">
        <div class="row">
            <div class="col-3">
                <a href="@Url.RouteUrl("Login")" class="ico-login">@T("Order.Tracking")</a>
            </div>
            <div class="col-3">
                @await Component.InvokeAsync("HeaderLinks")
            </div>
            <div class="col-3">
                @await Component.InvokeAsync("LanguageSelector")
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>

