@using Nop.Services.Plugins
@using Nop.Services.Security

@inject IPermissionService permissionService
@inject IPluginManager<IAdminMenuPlugin> adminMenuPluginManager

<ul class="nav nav-pills nav-sidebar flex-column nav-legacy" data-widget="treeview" role="menu">
    @{
        var customer = await workContext.GetCurrentCustomerAsync();

        //load sitemap
        var siteMap = new XmlSiteMap();
        await siteMap.LoadFromAsync("~/Areas/Admin/sitemap.config");

        //standard (default) items
        var rootNode = siteMap.RootNode;

        //plugins
        var adminMenuPlugins = await adminMenuPluginManager.LoadAllPluginsAsync(customer);
        foreach (var adminMenuPlugin in adminMenuPlugins)
        {
            await adminMenuPlugin.ManageSiteMapAsync(rootNode);
        }

        //"Plugins" menu item should be visible when it has some child nodes
        var pluginNode = rootNode.ChildNodes.FirstOrDefault(x => x.SystemName == "Third party plugins");
        if (pluginNode?.Visible ?? false)
        {
            pluginNode.Visible = pluginNode.ChildNodes.Any(x => x.Visible)
                && await permissionService.AuthorizeAsync(StandardPermissionProvider.ManagePlugins, customer);
        }

        //display menu items
        foreach (var item in rootNode.ChildNodes.Where(x => x.Visible))
        {
            @await Html.PartialAsync("_MenuItem", item)
        }

        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-mail-bulk"></i>
                <p>Contract <i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                    <a href="/Admin/Contract/" class="nav-link">
                        <i class="nav-icon far fa-dot-circle"></i>
                        <p>contract.or.complaints</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Contract/Appoinments" class="nav-link active">
                        <i class="nav-icon far fa-dot-circle"></i>
                        <p>contract.or.appoinments</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-chart-bar"></i>
                <p>Saller Item <i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item">
                    <a href="/Admin/SallerItem/" class="nav-link">
                        <i class="nav-icon far fa-dot-circle"></i>
                        <p>Saller.Item</p>
                    </a>
                </li>
            </ul>
        </li>

    }
</ul>